// LIGHT MODE COLORS
$blue: #0079FF;
$grey-ligth: #697C9A;
$blue-dark: #4B6A9B;
$black: #2B3442;
$white-darker: #F6F8FF;
$white: #FEFEFE;

// DARK MODE COLORS+
$white-darkmode: #FFFFFF;
$black-darkmode: #141D2F;
$blue-darkmode: #1E2A47;
